body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    border: 0;
}


header{
    width: 100%;
    height: 100vh;
    background: url('pcb.jpg') no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #121212ee;
}

ul{
    position: fixed;
    width: 100%;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 17px;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: rgba(0, 0, 0, 0.700);
}

#topdiv{
    padding: 0px;
}

#bottomdiv{
   padding-top: 50px; 
}

.aktiv{
    background-color: #002e50;
}

h3{
    font-family: monospace;
    font-size: 80px;
    color: lavender;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    position: fixed;
}
