body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 14px;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: black;
}